node_modules
client/node_modules
client/build/asset-manifest.json
.gitignore
client/build/favicon.ico
client/build/index.html
client/build/logo192.png
client/build/logo512.png
client/build/manifest.json
client/build/robots.txt
client/build/static/css/main.94d2df66.css
client/build/static/css/main.94d2df66.css.map
client/build/static/js/787.c4e7f8f9.chunk.js
client/build/static/js/787.c4e7f8f9.chunk.js.map
client/build/static/js/main.c755f6dd.js
client/build/static/js/main.c755f6dd.js.LICENSE.txt
client/build/static/js/main.c755f6dd.js.map
client/build/static/media/About.9e41b265079e22a85b0a.jpeg
client/build/static/media/Ann.cc1ae36a60de0380e255.jpg
client/build/static/media/Athira.360e4c2fa6995f9c5f1f.jpg
client/build/static/media/balmdesignathon.4f1728f2d41da9ff040a.jpg
client/build/static/media/bgLogo.158f77cc17e3dfa618d2.png
client/build/static/media/buildclub.ccee5368c3cee41c82c3.jpg
client/build/static/media/CC.8006660f41c723eb0e62.jpg
client/build/static/media/CCO.3d997aea7c356df02ab9.jpg
client/build/static/media/CCoO_.2904a3022b07eeb0e661.png
client/build/static/media/CCoO.cc0bab4b6c7c651c88bc.JPG
client/build/static/media/CEO.b6918bfe9916e3c167de.png
client/build/static/media/CFO.4b0fcf771aff572e4ded.png
client/build/static/media/CMO_1.62c9907af938458ee24b.jpg
client/build/static/media/CMO_2.b4dc73882e019e330e4e.jpg
client/build/static/media/COO.7c63dfc51b3e6b7b296b.jpeg
client/build/static/media/CSMO_1.eaf3dbd810aa0c88862c.jpg
client/build/static/media/CSMO_2.eb71f2cb4a3b65d4de4c.jpeg
client/build/static/media/CTO.92f261aee54ece21fdc3.jpg
client/build/static/media/FA.b81f2e94d5e2b255ce8f.png
client/build/static/media/highlights.c5d860e18c481d277720.png
client/build/static/media/IedcNavbarLogo.6b854690315fa2d0f7a2.png
client/build/static/media/iggal1.3c3588a4faed34ab0c60.jpg
client/build/static/media/iggal2.14e7944ea2723e2970a0.jpg
client/build/static/media/iggal3.556eacc6aad2819580bd.jpg
client/build/static/media/iggal4.7b30e5279e57d60bc5be.jpg
client/build/static/media/iggal5.ed60bd7031d06188a422.jpg
client/build/static/media/iggal6.42801e8382bf9629b130.jpg
client/build/static/media/iggal7.7e280e1fc3074b796f41.jpg
client/build/static/media/iggal8.a7d95a37d6c4a06077ad.jpg
client/build/static/media/iggal9.be36b44be55bc7d8a41a.jpg
client/build/static/media/IgnitesIdea.b458d9db9ef7e270c4b3.png
client/build/static/media/innovation-bg-2.3fbd8fc8292dd698bc89.jpg
client/build/static/media/innovation-bg-3.3a3ed2d47e9deb9e2742.png
client/build/static/media/innovation-logo.b24ecf81b35cd87ecc28.png
client/build/static/media/innovationabout.891c5739f3efa60e6ebe.png
client/build/static/media/innovationobjectives.f2c7b3138ba849c2d088.png
client/build/static/media/innovationvision.e8fb1f121873f150a5cf.png
client/build/static/media/INO.373a64c04531457e42a1.mp4
client/build/static/media/Inspiration.067c3079dded86dabaee.jpg
client/build/static/media/ketcon.261594250725028ef7f4.jpg
client/build/static/media/mhrd.72da032868a4e6424613.jpg
client/build/static/media/NKL.a500fe2a2417ecd524bc.jpg
client/build/static/media/NO.c949309d07c91d11c2b7.png
client/build/static/media/Objectives.bb2e1904e12600d3fde2.jpg
client/build/static/media/our_vision.fd212b35d3d826c5fcb8.jpg
client/build/static/media/patentgrant.2954e4b7201f69f100b2.png
client/build/static/media/patentgrant2.4a0f59cb1104eb733012.jpg
client/build/static/media/PO_1.b87cdc7d86022c40b904.jpg
client/build/static/media/PO_2.b7dc648cc9fffb023602.JPG
client/build/static/media/PO_3.ffb8083f4d71dc5394c3.jpeg
client/build/static/media/PO_4.ac05d771221773bc6412.jpg
client/build/static/media/PRO_2.9c215d0152bc2a30c1e5.JPG
client/build/static/media/PRO.503169b3397600ac0583.jpg
client/build/static/media/quickfolio.14cb12547b1257552eef.jpg
client/build/static/media/Sreekanth.661b12ff5032eb04e3f6.jpg
client/build/static/media/vguard.30686b7b5d73717a0a9c.jpg
client/build/static/media/WEL.be72e260f396a2ecad67.JPG
client/build/static/media/WM.b146cbf0707a1575ef4f.jpg
client/build/static/media/yip.60b25e41e57d3d8a7fb6.jpg
client/build/static/media/yipideafest.284eb4b40f1126ec5c77.jpg
